* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.saveAndLoad {
  font-size: 2em;
  width: 15vh;
  height: 6vh;
  margin: 5vh;
  border-radius: 15px;
}

.now {
  font-size: 2em;
  text-align: center;
}

.position {
  display: flex;
  flex-direction: column;
}

.counting {
  margin: 12vh auto;
  text-align: center;
  height: 10vh;
  font-size: 2em;
  width: auto;
  font-weight: 800;
}

.count {
  display: flex;
  justify-content: space-around;
}
  